@{
    ViewData["Title"] = "Home Page";
}

<h2> About Us</h2>
<div>
    <p>
        'Melie Mei Langi' was founded by Samiuela Fangaloka in 2002, in the rural Victorian town of Robinvale. Initially, it was a convenient way for the locals to send money back to Tonga, but has since grown to an Australia wide service with customers from as far away as Perth, WA and far Nth Queensland now using the service.
    </p>

    <p>
        We believe that our number one priority, to help those less fortunate friends and relatives overseas, is the reason for the success of our services, hence why we are experiencing very rapid growth. This growth has seen the opening of our busiest branch in Otahuhu, Auckland, NZ, branches in the USA and newest addition American Samoa and Fiji, which has opened up the reach of Melie Mei Langi to those who reside in those countries.
    </p>

    <p>
        The opening of Melie-Mei-Langi supermarkets and meat imports to Tonga, has allowed us to provide the people of Tonga with competitively priced groceries and meat. It also gives those living overseas an option to purchase the groceries for pick up in Tonga, or to send the money for pick up in Tonga. Many of our Australian and New Zealand customers have found our shopping services to be very useful and it can account for up to 40% of transactions sent to Tonga.
    </p>
</div>