  name: CI
  on:
    workflow_dispatch:
    push:
      branches:
        - main
  jobs:
      build:
          
          runs-on: ubuntu-latest
          strategy:
              matrix:
                  dotnet-version: [ '7.0.x' ]
          
          steps:
              - uses: actions/checkout@v3
                
              - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
                uses: actions/setup-dotnet@v3
                with:
                    dotnet-version: ${{ matrix.dotnet-version }}
                    
              - name: Install dependencies
                run: dotnet restore
                
              - name: Build
                run: dotnet build --configuration Release --no-restore
                
              - name: Test
                run: dotnet test --no-restore --verbosity normal
      publish:
        runs-on: ubuntu-latest
        needs: 
          - build
        strategy:
          matrix:
            dotnet-version: [ '7.0.x' ]
            
        steps:
          - name: Check out the repo
            uses: actions/checkout@v3

          - name: Log in to Docker Hub
            uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
            with:
              #registry: ${{ vars.DOCKER_REGISTRY }}
              username: ${{ vars.DOCKER_USERNAME }}
              password: ${{ secrets.DOCKER_TOKEN }}

          - name: Extract metadata (tags, labels) for Docker
            id: meta
            uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
            with:
              images: ${{ vars.DOCKER_REGISTRY }}/soft703

          - name: Build and push Docker image
            uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
            with:
              context: .
              file: ./Dockerfile
              push: true
              tags: ${{ steps.meta.outputs.tags }}
              labels: ${{ steps.meta.outputs.labels }}